body {
	text-align: center;
}

#buffering {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-image: url(../images/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

.error, .ErrorLabel, .EditingFormErrorLabel {
	color: #F00;
}

div[data-role='page'] {
	background-image: url(../images/background.jpg);
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat: no-repeat;
}

.header-template,
.footer-template,
.survey-form-template,
.menuvideo-page-template {
	display:none;
}
